In [74]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [75]:
df=pd.read_csv("datasets/heart_disease_data.csv")
df.head(5)

  chest_pain good_blood_circulation blocked_arteries heart_disease
0         no                    yes               no            no
1        yes                    yes               no           yes
2        yes                     no               no           yes
3        yes                     no              yes           yes
4         no                    yes              yes           yes

In [76]:
inputs=df.drop("heart_disease",axis='columns')
inputs.head(2)

  chest_pain good_blood_circulation blocked_arteries
0         no                    yes               no
1        yes                    yes               no

In [77]:
target=df['heart_disease']
target.head(2)

0     no
1    yes
Name: heart_disease, dtype: object

In [78]:
chest_pain = LabelEncoder()
good_blood_circulation = LabelEncoder()
blocked_arteries = LabelEncoder()
inputs['chest_pain_x']=chest_pain.fit_transform(inputs['chest_pain'])
inputs['good_blood_circulation_x']=good_blood_circulation.fit_transform(inputs['good_blood_circulation'])
inputs['blocked_arteries_x']=blocked_arteries.fit_transform(inputs['blocked_arteries'])
inputs.head(5)

,chest_pain,good_blood_circulation,blocked_arteries,chest_pain_x,good_blood_circulation_x,blocked_arteries_x
0,no,yes,no,0,1,0
1,yes,yes,no,1,1,0
2,yes,no,no,1,0,0
3,yes,no,yes,1,0,1
4,no,yes,yes,0,1,1

In [79]:
inputs_x=inputs.drop(['chest_pain','good_blood_circulation','blocked_arteries'],axis='columns')
inputs_x.head(5)

   chest_pain_x  good_blood_circulation_x  blocked_arteries_x
0             0                         1                   0
1             1                         1                   0
2             1                         0                   0
3             1                         0                   1
4             0                         1                   1

In [80]:
heart_disease = LabelEncoder()
target_x=heart_disease.fit_transform(target)
target_x

array([0, 1, 1, 1, 1, 0, 0])

In [81]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs_x, target_x, test_size=0.2, random_state=0)

In [82]:
from sklearn import tree
model=tree.DecisionTreeClassifier(criterion='gini')
model

DecisionTreeClassifier()

In [83]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [84]:
model.score(X_test,y_test)

1.0

In [85]:
model.predict([[0,1,0]])

array([0])

In [86]:
model.predict([[0,0,1]])

array([1])