In [44]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [45]:
df=pd.read_csv("datasets/heart_disease_data2.csv")
df.head(5)

  chest_pain good_blood_circulation blocked_arteries  age heart_disease
0         no                    yes               no   40            no
1        yes                    yes               no   50           yes
2        yes                     no               no   35           yes
3        yes                     no              yes   56           yes
4         no                    yes              yes   70           yes

In [46]:
inputs=df.drop("heart_disease",axis='columns')
inputs.head(2)

  chest_pain good_blood_circulation blocked_arteries  age
0         no                    yes               no   40
1        yes                    yes               no   50

In [47]:
target=df['heart_disease']
target.head(2)

0     no
1    yes
Name: heart_disease, dtype: object

In [48]:
chest_pain = LabelEncoder()
good_blood_circulation = LabelEncoder()
blocked_arteries = LabelEncoder()
inputs['chest_pain_x']=chest_pain.fit_transform(inputs['chest_pain'])
inputs['good_blood_circulation_x']=good_blood_circulation.fit_transform(inputs['good_blood_circulation'])
inputs['blocked_arteries_x']=blocked_arteries.fit_transform(inputs['blocked_arteries'])
inputs.head(5)

,chest_pain,good_blood_circulation,blocked_arteries,age,chest_pain_x,good_blood_circulation_x,blocked_arteries_x
0,no,yes,no,40,0,1,0
1,yes,yes,no,50,1,1,0
2,yes,no,no,35,1,0,0
3,yes,no,yes,56,1,0,1
4,no,yes,yes,70,0,1,1

In [49]:
inputs_x=inputs.drop(['chest_pain','good_blood_circulation','blocked_arteries'],axis='columns')
inputs_x.head(5)

   age  chest_pain_x  good_blood_circulation_x  blocked_arteries_x
0   40             0                         1                   0
1   50             1                         1                   0
2   35             1                         0                   0
3   56             1                         0                   1
4   70             0                         1                   1

In [50]:
heart_disease = LabelEncoder()
target_x=heart_disease.fit_transform(target)
target_x

array([0, 1, 1, 1, 1, 0, 0, 1])

In [51]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs_x, target_x, test_size=0.2, random_state=0)

In [52]:
from sklearn.ensemble import RandomForestClassifier
model= RandomForestClassifier(criterion='gini',n_estimators=100)
model

RandomForestClassifier()

In [53]:
model.fit(X_train,y_train)

RandomForestClassifier()

In [60]:
X_test

   age  chest_pain_x  good_blood_circulation_x  blocked_arteries_x
6   78             0                         0                   0
2   35             1                         0                   0

In [54]:
model.score(X_test,y_test)

0.5

In [61]:
model.predict([[40,0,1,0]])

array([0])

In [62]:
model.predict([[80,0,1,0]])

array([1])